# Node
**/node_modules
**/dist
npm-debug.log*

# Logs
logs/
*.log

# Environment
.env
.env.*

# IDE
.vscode/
.idea/

# macOS
.DS_Store

# Terraform
*.tfstate
*.tfstate.*
.terraform/

# Kubernetes
*.kubeconfig

# Coverage
coverage/

# Misc
*.swp